.colDiv{
	width: 600px;
	height:150px;
	margin: 10px;
	position: relative;
}
.col{
	position: absolute;
	bottom: 0px;
	margin:0px 2px 0px 2px;
}
#container{
	width:600px;
	height:150px
}

#animate {
	height:100px;
}

.ball {
	display: inline-block;
	vertical-align: middle;
	margin: 0px 20px
}